  <section id="focus-boxes">
    <div class="row goBoxes">
      <div class="large-12 columns">
        <div class="panel">
          <div class="large-4 medium-4 columns">
            <div class="goBox">
              <a href="/focus/events/" class="events">
                <div class="triangle-topright"></div>
                <div class="go-text-wrapper">
                  <h2>Events</h2>
                  <p>Explore</p>
                </div>
              </a>
            </div>
          </div>
          <div class="large-4 medium-4 columns">
            <div class="goBox">
              <a href="/focus/content/" class="content">
                <div class="triangle-topright"></div>
                <div class="go-text-wrapper">
                  <h2>Content</h2>
                  <p>Explore</p>
                </div>
              </a>
            </div>
          </div>
          <div class="large-4 medium-4 columns">
            <div class="goBox">
              <a href="/focus/marketing/" class="marketing">
                <div class="triangle-topright"></div>
                <div class="go-text-wrapper">
                  <h2>Marketing</h2>
                  <p>Explore</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- /focus-boxes -->