/*
   contact.css
 */

body.contact .page {
    background-color: #f0efef;
}

body.contact .page .panel{
    max-width: 1070px;
}

body.contact h2 {
    font-size: 34px;
    font-weight: normal;
    padding: 50px 0 21px 0;
    font-family:'Serifa W01 45 Light',georgia,serif;
}

div.contact-form {
    margin-top: 30px;
}

body.contact .contact-form h2{
    text-align: left;
    margin-bottom: 0px;
    font-family:'Serifa W01 45 Light',georgia,serif;
    font-weight: normal;
    padding: 20px 0;
}

body.contact .contact-form h2.thanks {
    padding-top:50px;
}

.call {
    margin-top:0px;
}
.contact-form .subject {
    padding-right:0;
}
.contact-form .title, .contact-form .email {
    padding-right:0;
}
body.contact .feature .panel {
    margin-top: 180px;
    color: #333;
}
body.contact label{
    display: block;
}

.menu-open .panel .large-6{
    display:none;
}

body.contact .row.contact-info {
    background-color: #fff;
    padding-bottom: 40px;
}

.contact-info a {
    color:#fc7706;
    text-decoration: none;
}
.page .panel .contact-info {
    float:left;
}
.contact-info p {
    font-size: 18px;
    font-family:'Univers LT W02 55 Roman', Arial, sans-serif;
    font-weight:normal;
}
.contact-info span {
    font-family:'Univers LT W01 65 Bold', Arial, sans-serif;
    color: #444444;
}

/*     CONTACT       */
body.contact .error{
    color: red;
    padding: 15px;
}
body.contact .mktoForm .mktoFieldWrap{
    position: relative;
    width: 100%;
}
body.contact .mktoForm input.mktoField {
    -webkit-appearance:none;
    border: 0;
    background: #fff;
    padding: 15px;
    margin: 5px 0 22px 0;
    width: 100%;
    outline: none;
    border-bottom: 1px solid #fff;
    font-family:'Univers LT W01 45 Light', Arial, sans-serif;
    font-size: 14px;
    width: 100% !important;
}

body.contact input:focus, body.contact textarea:focus, body.contact select:focus {
    -moz-appearance:none;
    -webkit-appearance:none;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid #333;
}

body.contact .phone input{
    width: 60px;
    display: inline-block;
}

body.contact #phone_1{
    clear:both;
}

body.contact #phone_3 {
    width: 80px;
}


body.contact textarea {
    -webkit-appearance:none;
    border: 0;
    background: #fff;
    padding: 15px;
    margin: 5px 0 22px 0;
    width: 100%;
    height: 148px;
    font-family:'Univers LT W01 45 Light', Arial, sans-serif;
    font-size: 14px;
}
#comment {
    resize:vertical;
}
body.contact select {
    -webkit-appearance:none;
    border: 0;
    background: #fff;
    padding: 15px;
    margin: 5px 0 22px 0;
    width: 100%;
    font-family:'Univers LT W01 45 Light', Arial, sans-serif;
    font-size: 14px;
}
body.contact select option{
    font-size:14px;
}
body.contact input#message {
    height: 165px;
}
body.contact form {
    padding: 0;
    min-width:100%!important;
    width:100%!important;
}
body.contact .asterisk {
    top:-5px;
    right:0;
}
body.contact .mktoForm .mktoAsterix {
    float: left!important;
    padding-left:0px!important;
}
body.contact .mktoForm select.mktoField {
    width:100%!important;
    height:48px;
}
body.contact .mktoForm textarea.mktoField {
    width:100%!important;
}
.contact .mktoForm #contactUsQuestion {
    width:207%!important;
    margin-top:5px!important;
}
body.contact .mktoForm .mktoGutter {
    display: none;
}
body.contact .large-6 .large-6 {
    padding-left:0;
}
body.contact .large-6 .last-name {
    padding-right:0;
}

body.contact label,
body.contact .mktoForm label.mktoLabel {
    position:relative;
    padding-right:18px;
    font-family:'Univers LT W02 55 Roman', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    width: 100% !important;
}
body.contact .mktoFormRow{
    /* flexbox setup */
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;  
}
body.contact .mktoFormCol{
    width: 32%;
    -webkit-flex: 1 1 2;
    flex: 1 1 2;
    margin-right: 2%;
}
body.contact .mktoButtonRow {
    float: right;
    margin: 2%;
}
body.contact .mktoForm button.mktoButton {
    width: auto;
    margin: 0 auto;
    background: #fc7706;
    color: #ffffff;
    font-family: "Univers LT W01 65 Bold",Arial,sans-serif;
    font-size: 12px;
    padding: 15px 22px;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}
body.contact .mc-field-group{
    position: relative;
}
body.contact label.error{
    position: absolute;
    top: 23px;
    left: 0;
    background: rgba(250, 0, 0,.65);
    padding: 3px;
    font-size: 10px;
    color: #fff;
    min-width: 50px;
    font-family:'Univers LT W02 55 Roman', Arial, sans-serif;
    border-radius: 3px; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
    /* useful if you don't want a bg color from leaking outside the border: */
    background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
    z-index: 5000;
}
/*body.contact .submit input{ 
    width: auto;
    margin: 0 auto;
    background: #fc7706;
    color: #ffffff;
    font-family: "Univers LT W01 65 Bold",Arial,sans-serif;
    font-size: 12px;
    padding: 15px 22px;
    text-decoration: none;
    text-transform: uppercase;
    float:right;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}*/
body.contact .submit input:hover,
body.contact .mktoButtonWrap input:hover{
    background: rgb(252,119,6); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZjNzcwNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYjYwMDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(252,119,6,1) 1%, rgba(203,96,5,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(252,119,6,1)), color-stop(100%,rgba(203,96,5,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,119,6,1) 1%,rgba(203,96,5,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,119,6,1) 1%,rgba(203,96,5,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,119,6,1) 1%,rgba(203,96,5,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,119,6,1) 1%,rgba(203,96,5,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc7706', endColorstr='#cb6005',GradientType=0 ); /* IE6-8 */
}
body.contact .submit p{
    float:left;
    font-family:'Univers LT W02 55 Roman', Arial, sans-serif;
}
body.contact .legend{
    text-align: center;
}
body.contact .legend div{
    width: 300px;
    margin: 0 auto;
    display: block;
    padding: 15px 0;
}


body.contact ul.social li.linkedin a{
    background-image: url(../images/icon-linkedin-black.png);
}

body.contact ul.social li.twitter a{
    background-image: url(../images/icon-twitter-black.png);
}

body.contact ul.social li.facebook a{
    background-image: url(../images/icon-facebook-black.png);
}

body.contact ul.social li.google-plus a{
    background-image: url(../images/icon-google-plus-black.png);
}