/*
    inside.css
 */

/****
    SHOWCASE - V1.1
****/

body.inside-the-studio {
    background-color: #fff;
}

.inside-the-studio #video-container{
	width: 100%;
	height: 100%;
	background-color: #000;
}
.inside-the-studio #video-container iframe{
	width: 100%;
	height: 100%
}


body.inside-the-studio #stage h1, body.showcase #stage p {
    color: #fff;
}

body.inside-the-studio #stage h2 {
    color: #fff;
    font-family:'Univers LT W01 45 Light', Arial, sans-serif;
    font-size: 20px;
    line-height: 120%;
    padding-top: 10px;
}

body.inside-the-studio .page {
    background-color: #fff;
}

body.inside-the-studio .page .row.showcase {
    background-color: #f2f0f1;
}

body.inside-the-studio .showcase-image {
    display: block;
    overflow: hidden;
    margin: 90px 0;
    text-align: center;
}

body.inside-the-studio .showcase-image.wistia {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

body.inside-the-studio .showcase-image .caption {
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 10px 10% 0 10%;
    width: 100%;
}

body.inside-the-studio .inside-body {
    margin: 80px 0 0 0;
}

body.inside-the-studio .inside-body p {
    font-family:'Univers LT W01 45 Light', Arial, sans-serif;
    font-size: 27px;
    line-height: 125%;
    max-width: 60%;
    text-align: left;
    margin: 0 auto;
    padding-bottom: 30px;
}

body.inside-the-studio .showcase-image .caption p {
    display: block;
    overflow: hidden;
    font-family:'Univers LT W01 45 Light', Arial, sans-serif;
    font-size: 24px;
    line-height: 120%;
    max-width: 900px;
    margin: 24px auto;
}

